{{#section 'title'}}
<title>Your Account &bull; Keybase</title>
{{/section}}

<main class=" max-w-xl mx-auto my-10 px-3">
    <div class="my-3">
        <h2 class=" text-lg font-semibold">Your Account</h2>
    </div>
    <div>
        <div class="bg-white p-6 rounded-md border border-gray-400">
            <div class="flex justify-between items-center">
                <div>
                    <h1 class=" text-2xl font-semibold">{{fullName}}</h1>
                    <p class=" text-gray-600 mt-1 text-sm">{{email}}</p>
                </div>
            </div>
            <div class="border-t border-gray-300 mt-5 mb-3"></div>
            <div class=" my-4 font-semibold pr-1">
                <div class="flex justify-between py-1">
                    <span>All Bookings</span>
                    <span>{{bookings.total}}</span>
                </div>
                <div class="flex justify-between py-1">
                    <span>Pending bookings</span>
                    <span>{{bookings.pendingBookings}}</span>
                </div>
                <div class="flex justify-between py-1">
                    <span>Confirmed bookings</span>
                    <span>{{bookings.confirmedBookings}}</span>
                </div>
            </div>
            <div class="border-t border-gray-300 mt-5 mb-4"></div>
            <div class="flex justify-between text-sm md:text-base">
                <button id="change-password" class="focus:outline-none font-semibold text-gray-700">Change password</button>
                <button class="focus:outline-none font-semibold text-red-600">Delete account</button>
            </div>
        </div>
    </div>
</main>

<div id="change-password-modal" class="hidden w-screen h-screen fixed top-0 left-0 z-500 items-center">
    <div class=" w-full h-full bg-black absolute inset-0 opacity-50"></div>
    <div class=" w-11/12 sm:w-7/12 lg:w-4/12 bg-white mx-auto z-50 font-normal rounded-md overflow-hidden shadow-lg">
        <div class="px-6 py-3 border-b border-gray-300">
            <p class=" font-semibold">Change your password</p>
        </div>
        <form action="/account/change-password" method="POST" class="px-6 py-4">
            <input type="hidden" name="_csrf" value="{{_csrfToken}}">
            <div class="py-2">
                <label for="old-password" class=" font-semibold text-gray-600">Old password</label>
                <input required="true" id="old-password" type="password" name="oldPassword"
                    class=" w-full px-4 py-3 bg-gray-200 mt-1 rounded-md focus:outline-none focus:shadow-outline transition duration-150">
            </div>
            <div class="py-2">
                <label for="new-password" class=" font-semibold text-gray-600">New password</label>
                <input required="true" id="new-password" type="password" name="newPassword"
                    class=" w-full px-4 py-3 bg-gray-200 mt-1 rounded-md focus:outline-none focus:shadow-outline transition duration-150">
            </div>
            <div class=" flex justify-end py-3">
                <button id="modal-close"
                    class=" block sm:inline py-2 px-6 rounded-md font-semibold uppercase tracking-wider border border-gray-400 focus:outline-none focus:shadow-outline transition duration-150">Cancel</button>
                <button type="submit"
                    class="py-2 px-6 rounded-md font-semibold bg-green-600 text-white uppercase tracking-wider hover:bg-green-700 transition duration-200 focus:shadow-outline ml-4 focus:outline-none">Change Password</button>
            </div>
        </form>
    </div>
</div>